@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div style="display:table-cell">
        <table border="1" cellspacing="0" cellpadding="3" style="font-size:small">
            <tbody>
                <tr><th>CourseId</th><th>CourseCode</th><th>faculty</th><th></th><th>Igor</th><th>Bob</th><th>Wei</th><th>John</th><th>Jack</th><th>Jill</th></tr>
                <tr><td>1</td><td>IPC144</td><td>Mark</td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>2</td><td>ULI101</td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>3</td><td>IOS110</td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td></tr>
                <tr><td>4</td><td>OOP244</td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td><td></td><td></td></tr>
                <tr><td>5</td><td>INT222</td><td>Ian</td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td><td></td></tr>
                <tr><td>6</td><td>IBC233</td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td></tr>
                <tr><td>7</td><td>DBS201</td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td><td></td><td></td></tr>
                <tr><td>8</td><td>OOP344</td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td><td></td></tr>
                <tr><td>9</td><td>INT322</td><td>Ron</td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td></tr>
                <tr><td>10</td><td>DBS301</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>&#10004;</td></tr>
                <tr><td>11</td><td>JAC444</td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td><td>&#10004;</td><td></td></tr>
                <tr><td>12</td><td>INT422</td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td>13</td><td>DCN455</td><td>Bill</td><td></td><td></td><td>&#10004;</td><td></td><td></td><td></td><td></td></tr>
                <tr><td>14</td><td>BAC344</td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td><td></td></tr>
                <tr><td>15</td><td>MAP524</td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td><td>&#10004;</td></tr>
                <tr><td>16</td><td>WIN210</td><td></td><td></td><td></td><td></td><td></td><td>&#10004;</td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
    <div style="display:table-cell">&nbsp;&nbsp;&nbsp;</div>

    <div style="display:table-cell">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>